<aside class="p-4">
    <h2 class="text-xl font-bold mb-4">Paises</h2>
    <hr class="my-4">
    
    <ul class="space-y-2">
        <!-- <li routerLink="" routerLinkActive="bg-red-500" [routerLinkActiveOptions]="{ exact: true }">Home Page</li>
        <li routerLink="about" routerLinkActive="bg-red-500">About Page</li>
        <li routerLink="contact" routerLinkActive="bg-red-500">Contact Page</li> -->
        <li routerLink="countries/by-country" routerLinkActive="bg-red-500" class="cursor-pointer p-2">By Country Page</li>
        <li routerLink="countries/by-capital" routerLinkActive="bg-red-500" class="cursor-pointer p-2">By Capital Page</li>
        <li routerLink="countries/by-region" routerLinkActive="bg-red-500" class="cursor-pointer p-2">By Region Page</li>
        <!-- <li routerLink="countries/by/:id" routerLinkActive="bg-red-500">By Id Page</li> -->
    </ul>
</aside>
