<ng-template #loading>
    <div class="bg-red-400 w-full p-4 text-white">
        Espere Por Favor
    </div>
</ng-template>

<div *ngIf="country; else loading" class="p-4">
    <h2 class="text-xl font-bold mb-2">Pais: <strong>{{country.name.common}}</strong></h2>
    <h3 class="text-lg font-bold">Bandera</h3>
    <img class="w-64 h-52 object-contain mt-2 mb-4" [src]="country.flags.svg" [alt]="country.name.common">
    <div>
        <ul>
            <li class="mb-2">
                <strong>Poblacion: </strong><span>{{country.population | number}}</span>
            </li>
            <li>
                <strong>Codigo: </strong><span>{{country.cca3}}</span>
            </li>
        </ul>
    </div>
</div>
